@charset "UTF-8";
@font-face {
  font-family: AppleMyungjo, Helvetica, Arial, sans-serif;
  src: local("Apple SD Gothic Neo"), local("Nanum Gothic");
}

body {
  background-color: rgb(199, 211, 224);
  margin: 0;
}

p {
  margin: 0;
}

.main_warp {
  position: relative;
  padding: 8px;
}

.main_content {
  max-width: 1100px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

.content {
  display: inline-flex;
}

.item_box {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 100%;
  height: 370px;
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.item_box::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.item {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 8px;
  max-width: 730px;
  min-width: 200px;
}
.item_status {
  display: flex;
  flex-direction: column;
  width: 25%;
  cursor: pointer;
}
.item_detail {
  display: flex;
  flex-direction: column;
  width: 58%;
  min-width: 150px;
  justify-content: flex-start;
  cursor: pointer;
}
.item_detail .table {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.item_detail .menu {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.item_control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  height: auto;
  padding-right: 14px;
}

.info_box {
  width: 300px;
  min-width: 300px;
  margin-left: 14px;
  border-radius: 10px;
  padding: 14px;
  background-color: white;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 340px;
}

.info_p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 3.6em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

.info_main_title {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 14px;
  font-size: 1.2rem;
}

.info_sub_title {
  width: 75px;
  color: gray;
}

.info_name {
  width: 205px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pur_btn {
  background-color: rgb(22, 30, 64);
  border: 1px solid rgb(22, 30, 64);
  border-radius: 4px;
  color: white;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.cgap {
  column-gap: 6px;
}

.rgap {
  row-gap: 6px;
}

.drawer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  backdrop-filter: blur(5px);
  animation-delay: 0s;
  animation-duration: 0.25s;
  animation: fadein 0.1s;
  -moz-animation: fadein 0.1s; /* Firefox */
  -webkit-animation: fadein 0.1s; /* Safari and Chrome */
  -o-animation: fadein 0.1s; /* Opera */
}

.mobile_info_box {
  position: absolute;
  animation-name: slideUp;
  animation-delay: -0.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  top: 100%;
  left: 0;
  width: calc(100vw - 60px);
  height: calc(100vh - 108px);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
  color: black;
  z-index: 110;
  display: flex;
  flex-direction: column;
  padding: 14px 30px;
}

.minfo_content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mInfo_Close {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  border: none;
  height: 2rem;
  font-size: 1rem;
}

@keyframes slideUp {
  0%, 50% {
    transform: translateY(100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Mobile - Landscape */
@media (max-width: 576px) {
  .item_box {
    height: 100%;
    min-width: 250px;
  }
  .item {
    padding-right: 4px;
  }
  .item_detail {
    padding-right: 4px;
  }
  .item_control {
    padding-right: 0;
  }
  .info_box {
    display: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
